#spotify-auth-container button {
  background-color: transparent;
  color: rgb(98, 170, 104);
}

#spotify-auth-container img {
  width: 35px;
  height: 35px;
}

.button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-content img {
  width: 40px;
  height: 40px;
}
