.collection-manager {
  margin-right: 20px;
}

.collection-button {
  background-color: #3f4c55;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.collection-list {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 320px;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 4px;
}

.collection-list h3 {
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 10px;
  border-bottom: 1px solid #776e6e;
  padding-bottom: 2px;
}

.collection-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.collection-list li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.collection-list .song-details {
  flex: 1;
}

.collection-list button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  /* margin-left: 10px; */
}

.collection-list li:last-child {
  border-bottom: none;
}

.collection-list::-webkit-scrollbar {
  width: 8px;
}

.collection-list::-webkit-scrollbar-thumb {
  background-color: #636b70;
  border-radius: 4px;
}

.collection-list::-webkit-scrollbar-track {
  background-color: #8a8a8a;
  border-radius: 4px;
}

a {
  color: rgb(184, 72, 64);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
