/* App */
body {
  margin: 0;
  padding: 0;
  /* background-color: #f5f5f5; */
  /* background-color: #555c5f49; */
  /* background-color: #546966; */
  background-color: #76948fd7;
}

.app-container {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: auto;
}

/* navbar - favorites and auth */
#navbar-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* SearchBar + Repeat button */
#search-container {
  margin: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
